ecs-cluster-terraform.iml
.idea
*/.terraform
/deployment/dev/.terraform
/deployment/production/.terraform
/deployment/management/.terraform
/deployment/test/.terraform
/deployment/Devops sandbox/.terraform
/deployment/management/.terraform.lock.hcl
/deployment/production/.terraform.lock.hcl
/deployment/Devops sandbox/.terraform.lock.hcl
/deployment/test/.terraform.lock.hcl
/deployment/dev/.terraform.lock.hcl
